@import "~antd/dist/antd.css";

body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}

main {
  background-color: #fff;
}

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  /* background: #7dbcea; */
}
[data-theme="dark"] .ant-layout-header {
  /* background: #6aa0c7; */
}
[data-theme="dark"] .ant-layout-footer {
  /* background: #6aa0c7; */
}
.ant-layout-footer {
  line-height: 1.5;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}
[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  /* background: rgba(16, 142, 233, 1); */
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
> .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.Nav__link .selectedLink {
  color: #f00;
  font-size: 50px;
}

.Nav__link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.Nav__Container {
  text-align: center;
}
